/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700&family=Open+Sans:ital,wght@0,400;0,700&display=swap');

:root {
    --primary-color: #00ABE7;
    --secondary-color: #2DC7FF;
    --accent1-color: #EAD2AC;
    --accent2-color: #EABA6B;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif; 
}

p {
    color: var(--accent1-color);
    font-family: 'Open Sans', sans-serif; 
}


a {
    color: var(--accent2-color);
    text-decoration: none; 
}


footer a img {
    border: none; 
}


body {
    max-width: 1200px; 
    margin: 0 auto;    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    color: #fff; 
}

article {
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 102, 204, 0.7); 
    padding: 20px;
    width: 80%; 
}


article img {
    float: right;
    margin-left: 20px; 
}