@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700&display=swap');


:root {
    --primary-color: #00ABE7;
    --secondary-color: #2DC7FF;
    --accent-color: #EAD2AC;
    --additional-accent-color: #EABA6B;
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-bg-color: #2DC7FF;
    --nav-link-color: #fff;
    --nav-hover-link-color: #e7c24f;
    --nav-hover-bg-color: #F9F7F3;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #303030;
}
header {
    padding: 15px; 
    background-color: var(--primary-color);
    color: #fff;
}

p {
    padding-bottom: 10px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}